<nav>
    <ul class="menu">
        <li class="logo"><a href="#">Plus court chemin</a></li>
        <li class="item"><a href="#">Par durée</a></li>
        <li class="item"><a href="#">Par co2</a></li>
        <li class="item has-submenu">
            <a tabindex="0">Services</a>
            <ul class="submenu">
                <li class="subitem"><a href="#">Design</a></li>
                <li class="subitem"><a href="#">Development</a></li>
            </ul>
        </li>
        <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
    </ul>
</nav>